<section>
    <div class="container">
        <form class="row g-3" enctype="multipart/form-data" action="/admin/edit-product/{{product._id}}" method="post">
            <h2 class="text-center">Edit Product</h2>

            <div class="col-md-12">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" name="Name" value="{{product.Name}}">
            </div>

            <div class="col-md-12">
                <label for="" class="form-label">category</label>
                <input type="text" class="form-control" name="Category" value="{{product.Category}}">
            </div>

            <div class="col-md-12">
                <label for="" class="form-label">Price</label>
                <input type="text" class="form-control" name="price" value="{{product.price}}">
            </div>

            <div class="col-md-12">
                <label for="" class="form-label">description</label>
                <input type="text" class="form-control" name="Description" value="{{product.Description}}">
            </div>

            <div class="col-md-12">
                <label for="" class="form-label">Image</label>
                  <img src="/product-images/{{product._id}}.jpg" style="width: 100px; height:auto;" id="imgview">
                <input type="file" class="form-control" name="image" onchange="viewImage(event)">
              
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">submit</button>
            </div>
        </form>
    </div>
</section>
<script>
    function viewImage(event){
        document.getElementById('imgview').src=URL.createObjectURL(event.target.files[0])
    }
</script>